

@import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap);



/* -------------------Page accueil----------------- */

body {
    margin: 0 auto;
    text-align: center;
}

header.header {
    display: flex;
    align-items: center;
    background-color:#38dcea
}


div.principal-page {
    margin-top: 6px;
    background: url("../Images/fille.jpg");
    background-size: contain;
    height: 750px;
    padding: 20px 50px;
    
}

div.principal-page h1 {
    text-align: left;
    width: 800px;
    color: #3f240d;
    font-size: 100px;
}

/* Texte à gauche */

.gauche {
    margin-top: 270px;
    color: rgb(24, 21, 156);
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
    background-color: #ffffffad;
    width: 316px;
    text-decoration: none;
}


/* Texte à droite */


.droite {
    margin-left: auto;
    margin-top: -5%;
    color: rgb(24, 21, 156);
    font-size: 25px;
    font-weight: 600;
    font-family: Montserrat;
    background-color: #ffffffad;
    width: 265px;
    text-decoration: none;    
}

.droite a{
    text-decoration: none;
    color: rgb(24, 21, 156);
}


/* --------------------------------------------------Menu de navigation---------------------------------------- */

header.header img {
    margin-top: 10px;
    margin-left: 10px;
    width: 200px;
}

section.top-page {
    background: url("../Images/nav.PNG");
    background-size: auto;
    width: 100%;
    height: 220px;
}


nav.nav {
    display: flex;
    justify-content: space-between;
    list-style: none;
    width: 70%;
    margin-left: 100px;
    margin-right: 100px;
    font-family: Montserrat;
    color: white;
    text-decoration: none;
    
}

nav.nav li a {
    color: white;
    font-size: 30px;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    
}

/* -----------------------------------------Page ventes------------------------ */

.page-ventes p {
    text-align: center;
    font-family: Montserrat;
    font-weight: 600;
    font-size: x-large;
}

.texte1 {
    font-size: larger;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-left: -6%;
}

.texte2 {
    font-size: larger;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-left: -6%;
}

.texte3 {
    font-size: larger;
    font-family: Montserrat;
    font-size: 25px;
    font-weight: 600;
    margin-left: -6%;
}

.texte-bas p{
    margin-left: 50px;
    margin-right: 50px;
    font-family: Montserrat;
    font-weight: 600;
    font-size: x-large;
}

.texte-lien-discord {
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
}

.espace-blanc {
    background-color: white;
    height: 50px;
}



/* Bouton discord page ventes */

button.bouton-discord1 a {
    color: white;
    text-decoration: none;
}

button.bouton-discord1 {
    background-color: #3498db;
    border: none;
    color: white;
    padding: 15px 25px;
    font-size: 24px;
    border-radius: 12px;
    text-transform: uppercase;
    cursor: pointer;
    box-shadow: 0 9px #2980b9;
    outline: none;
}

button:hover {
    transform: translateY(3px);
    box-shadow: 0 6px #2980b9;
}

button:active {
    transform: translateY(7px);
    box-shadow: 0 2px #2980b9;

}